<h2 style="text-align:center;font-size:200%;;">Лабораторная работа № 1 </h2>

<h3 style="text-align:center;font-size:200%;;">Ход работы </h3>

In [1]:
# Import other modules not related to PySpark
import os
import sys
import pandas as pd
from pandas import DataFrame
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import matplotlib
from mpl_toolkits.mplot3d import Axes3D
import math
from IPython.core.interactiveshell import InteractiveShell
from datetime import *
import statistics as stats
# This helps auto print out the items without explixitly using 'print'
InteractiveShell.ast_node_interactivity = "all" 
%matplotlib inline

In [2]:
# Import PySpark related modules
import pyspark
from pyspark.rdd import RDD
from pyspark.sql import Row
from pyspark.sql import DataFrame
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql import functions
from pyspark.sql.functions import lit, desc, col, size, array_contains\
, isnan, udf, hour, array_min, array_max, countDistinct
from pyspark.sql.types import *

MAX_MEMORY = '4G'
# Initialize a spark session.
conf = pyspark.SparkConf().setMaster("local[*]") \
        .set('spark.executor.heartbeatInterval', 10000) \
        .set('spark.network.timeout', 10000) \
        .set("spark.core.connection.ack.wait.timeout", "3600") \
        .set("spark.executor.memory", MAX_MEMORY) \
        .set("spark.driver.memory", MAX_MEMORY)
def init_spark():
    spark = SparkSession \
        .builder \
        .appName("Pyspark guide") \
        .config(conf=conf) \
        .getOrCreate()
    return spark

spark = init_spark()

path = 'date/wiki/small/'

filename_data_item = path + 'item.csv'
filename_data_item_aliase = path + 'item_aliases.csv'
filename_data_page = path + 'page.csv'
filename_data_property_aliase = path + 'property_aliases.csv'
filename_data_property = path + 'property.csv'
filename_data_statements = path + 'statements.csv'

# Load the main data set into pyspark data frame 
df_item = spark.read.csv(filename_data_item, header=True, sep=',', inferSchema=True)
df_item_aliase = spark.read.csv(filename_data_item_aliase, header=True, sep=',', inferSchema=True)
df_page = spark.read.csv(filename_data_page, header=True, sep=',', inferSchema=True)
df_property_aliase = spark.read.csv(filename_data_property_aliase, header=True, sep=',', inferSchema=True)
df_property = spark.read.csv(filename_data_property, header=True, sep=',', inferSchema=True)
df_statements = spark.read.csv(filename_data_statements, header=True, sep=',', inferSchema=True)

print('Data frame type: ' + str(type(df_item)))

Data frame type: <class 'pyspark.sql.dataframe.DataFrame'>

# **Извлечение признаков** <a class="anchor" id="2"></a>

In [3]:
# Получение столбцов всех Датафреймов
df_item.columns
df_item_aliase.columns
df_page.columns
df_property_aliase.columns
df_property.columns
df_statements.columns

['item_id', 'en_label', 'en_description']

['item_id', 'en_alias']

['page_id', 'item_id', 'title', 'views']

['property_id', 'en_alias']

['property_id', 'en_label', 'en_description']

['source_item_id', 'edge_property_id', 'target_item_id']

In [4]:
# Соединение Датафреймов в один
df = df_item.join(df_item_aliase, 'item_id')

df = df.join(df_page, 'item_id')
df.columns

['item_id',
 'en_label',
 'en_description',
 'en_alias',
 'page_id',
 'title',
 'views']

In [5]:
# Переименование столбцов
df_property_aliase = df_property_aliase.withColumnRenamed("en_alias", "en_alias_property")

df_property = df_property.withColumnRenamed("en_label", "en_label_property")
df_property = df_property.withColumnRenamed("en_description", "en_description_property")

# Вывод названий переименованных столбцов
df_property_aliase.columns
df_property.columns

['property_id', 'en_alias_property']

['property_id', 'en_label_property', 'en_description_property']

In [6]:
# Соединение Датафреймов в один
df_property_and_aliase = df_property.join(df_property_aliase, 'property_id')
df_statements_property = df_statements.join(df_property_and_aliase, df_statements.edge_property_id == df_property_and_aliase.property_id)
df = df.join(df_statements_property, df.item_id == df_statements_property.source_item_id)
df.columns

['item_id',
 'en_label',
 'en_description',
 'en_alias',
 'page_id',
 'title',
 'views',
 'source_item_id',
 'edge_property_id',
 'target_item_id',
 'property_id',
 'en_label_property',
 'en_description_property',
 'en_alias_property']

In [7]:
df = df['item_id', 'en_label', 'en_description', 'en_alias', 'page_id', 'title', 'views', 'edge_property_id', 'target_item_id', 'en_label_property', 'en_description_property', 'en_alias_property']
print('Data overview')
df.printSchema()
print('Columns overview')
pd.DataFrame(df.dtypes, columns = ['Column Name','Data type'])

Data overview
root
 |-- item_id: integer (nullable = true)
 |-- en_label: string (nullable = true)
 |-- en_description: string (nullable = true)
 |-- en_alias: string (nullable = true)
 |-- page_id: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- views: string (nullable = true)
 |-- edge_property_id: integer (nullable = true)
 |-- target_item_id: integer (nullable = true)
 |-- en_label_property: string (nullable = true)
 |-- en_description_property: string (nullable = true)
 |-- en_alias_property: string (nullable = true)

Columns overview

                Column Name Data type
0                   item_id       int
1                  en_label    string
2            en_description    string
3                  en_alias    string
4                   page_id       int
5                     title    string
6                     views    string
7          edge_property_id       int
8            target_item_id       int
9         en_label_property    string
10  en_description_property    string
11        en_alias_property    string

In [8]:
df.limit(1).toPandas()

,item_id,en_label,en_description,en_alias,page_id,title,views,edge_property_id,target_item_id,en_label_property,en_description_property,en_alias_property
0,1,Universe,totality of space and all contents,cosmos,31880,Universe,37815,31,36906466,instance of,that class of which this subject is a particul...,type

In [9]:
df = df.withColumn("views", df["views"].cast("int"))

In [12]:
# Извлечем количесвто псевдонимов для каждого элемента
df_item_with_aliase = df_item.join(df_item_aliase, 'item_id', 'left')
df_count_aliase = df_item_with_aliase.groupBy('item_id').count().sort(desc('count'))
df_item_with_aliase = df_item.join(df_count_aliase, 'item_id', 'left')
df_item_with_aliase = df_item_with_aliase.withColumnRenamed('count', 'count_item_aliase')
df_item_with_aliase.show(4)

+-------+--------+--------------------+-----------------+
|item_id|en_label|      en_description|count_item_aliase|
+-------+--------+--------------------+-----------------+
|      1|Universe|totality of space...|                4|
|      3|    life|matter capable of...|                1|
|      5|   human|common name of Ho...|                5|
|      4|   death|permanent cessati...|               20|
+-------+--------+--------------------+-----------------+
only showing top 4 rows

In [13]:
# Подсчет длинны описания элемента
df_item_with_aliase = df_item_with_aliase.withColumn("en_description_length", functions.length("en_description"))
df_item_with_aliase = df_item_with_aliase.drop(df.en_description)
df_item_with_aliase.sort('count_item_aliase').show(4)

+-------+-------------------+-----------------+---------------------+
|item_id|           en_label|count_item_aliase|en_description_length|
+-------+-------------------+-----------------+---------------------+
| 282396|               Nyim|                1|                   18|
|  86927|      Martin Rummel|                1|                   17|
|    463|        Rhône-Alpes|                1|                   38|
|  87120|Peter Stephan Jungk|                1|                   24|
+-------+-------------------+-----------------+---------------------+
only showing top 4 rows

In [14]:
# Извлечем количесвто псевдонимов для каждого свойства
df_property_with_aliase = df_property.join(df_property_aliase, 'property_id', 'left')
df_count_aliase_p = df_property_with_aliase.groupBy('property_id').count().sort(desc('count'))
df_property_with_aliase = df_property.join(df_count_aliase_p, 'property_id', 'left')
df_property_with_aliase = df_property_with_aliase.withColumnRenamed('count', 'count_aliase')
df_property_with_aliase.show(4)

+-----------+------------------+-----------------------+------------+
|property_id| en_label_property|en_description_property|count_aliase|
+-----------+------------------+-----------------------+------------+
|          6|head of government|   head of the execu...|           9|
|         16|    highway system|   system (or specif...|           6|
|         15|         route map|   image of route ma...|          12|
|         10|             video|   "relevant video. ...|           4|
+-----------+------------------+-----------------------+------------+
only showing top 4 rows

In [15]:
# Подсчет длинны описания элемента
df_property_with_aliase = df_property_with_aliase.withColumn("en_description_property_length", functions.length("en_description_property"))
df_property_with_aliase = df_property_with_aliase.drop(df.en_description_property)
df_property_with_aliase.sort('count_aliase').show(4)

+-----------+--------------------+------------+------------------------------+
|property_id|   en_label_property|count_aliase|en_description_property_length|
+-----------+--------------------+------------+------------------------------+
|       1959|Dutch Senate pers...|           1|                            58|
|       2866|Hollandsche Molen ID|           1|                            59|
|       2142|          box office|           1|                            40|
|       1580|University of Bar...|           1|                            54|
+-----------+--------------------+------------+------------------------------+
only showing top 4 rows

In [34]:
# Подсчет количества элементов и свойств на странице
from pyspark.sql.functions import sum,avg,max,count

df_page_with_item = df_page.join(df_item_with_aliase, 'item_id', 'left')
#
df_page_with_item.show(4)

+--------+-------+--------------------+-----+---------+-----------------+---------------------+
| item_id|page_id|               title|views| en_label|count_item_aliase|en_description_length|
+--------+-------+--------------------+-----+---------+-----------------+---------------------+
| 1081144| 230185|     Rafael Palmeiro| 1970|     NULL|             NULL|                 NULL|
|16934454| 645655|This England (mag...|  186|     NULL|             NULL|                 NULL|
|    6199|     12|           Anarchism|31335|anarchism|                1|                  108|
|    9659|    290|                   A|25859|        A|                6|                   28|
+--------+-------+--------------------+-----+---------+-----------------+---------------------+
only showing top 4 rows

In [46]:
# Подсчет количества просмотров у "целевых статьей"
df_target_item = df_statements.groupBy('target_item_id').agg(count('source_item_id'))
df_target_item = df_target_item.withColumnRenamed('count(source_item_id)', 'count_source_item')

df_target_item = df_target_item.join(df_page_with_item, df_target_item.target_item_id == df_page_with_item.item_id, 'left')
df_target_item.show(4)

+--------------+-----------------+-------+-------+--------------------+------+--------------------+-----------------+---------------------+
|target_item_id|count_source_item|item_id|page_id|               title| views|            en_label|count_item_aliase|en_description_length|
+--------------+-----------------+-------+-------+--------------------+------+--------------------+-----------------+---------------------+
|           148|              225|    148|   5405|               China|263504|People's Republic...|                8|                   18|
|           833|              105|   NULL|   NULL|                NULL|  NULL|                NULL|             NULL|                 NULL|
|         43527|                1|  43527| 152833|        Sitting Bull| 22312|        Sitting Bull|                3|                   41|
|        196615|                1| 196615| 123468|Supreme Court of ...|  8176|Supreme Court of ...|                1|                   23|
+--------------+-----------------+-------+-------+--------------------+------+--------------------+-----------------+---------------------+
only showing top 4 rows

In [50]:
# Сформированные датафреймы
print('Data overview df_property_with_aliase')
df_property_with_aliase.printSchema()
print('Columns overview df_property_with_aliase')
pd.DataFrame(df_property_with_aliase.dtypes, columns = ['Column Name','Data type'])

print('Data overview df_target_item')
df_target_item.printSchema()
print('Columns overview df_target_item')
pd.DataFrame(df_target_item.dtypes, columns = ['Column Name','Data type'])

Data overview df_property_with_aliase
root
 |-- property_id: integer (nullable = true)
 |-- en_label_property: string (nullable = true)
 |-- count_aliase: long (nullable = true)
 |-- en_description_property_length: integer (nullable = true)

Columns overview df_property_with_aliase

                      Column Name Data type
0                     property_id       int
1               en_label_property    string
2                    count_aliase    bigint
3  en_description_property_length       int

Data overview df_target_item
root
 |-- target_item_id: integer (nullable = true)
 |-- count_source_item: long (nullable = false)
 |-- item_id: integer (nullable = true)
 |-- page_id: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- views: string (nullable = true)
 |-- en_label: string (nullable = true)
 |-- count_item_aliase: long (nullable = true)
 |-- en_description_length: integer (nullable = true)

Columns overview df_target_item

             Column Name Data type
0         target_item_id       int
1      count_source_item    bigint
2                item_id       int
3                page_id       int
4                  title    string
5                  views    string
6               en_label    string
7      count_item_aliase    bigint
8  en_description_length       int

# **Обнаружение пропущенных значений и аномальных нулей** <a class="anchor" id="3"></a>

In [ ]:
print('Columns overview')
pd.DataFrame(df.dtypes, columns = ['Column Name','Data type'])

In [ ]:
string_columns = ['en_label', 'en_description', 'en_alias', 'title', 'en_label_property', 'en_description_property', 'en_alias_property']
numeric_columns = ['item_id','page_id', 'views', 'target_item_id', 'edge_property_id']
missing_values = {} 
for index, column in enumerate(df.columns):
    if column in string_columns:
        missing_count = df.filter(col(column).eqNullSafe(None) | col(column).isNull()).count()
        missing_values.update({column:missing_count})
    if column in numeric_columns:  # check zeroes, None, NaN
        missing_count = df.where(col(column).isin([0,None,np.nan])).count()
        missing_values.update({column:missing_count})
        
missing_df = pd.DataFrame.from_dict([missing_values])
missing_df

In [52]:
from pyspark.sql.functions import col, count, when

# Создаем список с количеством пустых значений в каждой колонке
empty_counts = [count(when(col(c).isNull() | (col(c) == ""), c)).alias("Empty_" + c) for c in df_target_item.columns]

# Создаем DataFrame с подсчетом пустых значений
missing_data = df_target_item.agg(*empty_counts)

# Преобразуем результат в список строк
result_rows = missing_data.first().asDict()

# Выводим результат в более читаемом формате
for column, count in result_rows.items():
    print(f"{column}: {count}")

Empty_target_item_id: 0
Empty_count_source_item: 0
Empty_item_id: 106295
Empty_page_id: 106295
Empty_title: 106295
Empty_views: 106295
Empty_en_label: 116808
Empty_count_item_aliase: 116807
Empty_en_description_length: 116890